.service__title {
  width: 50vw;
  text-align: center;
  margin-top: 2em;
}
.container__service {
  width: 80vw;
  height: max-content;
  display: flex;

  align-items: center;
  margin: 2em 5em 5em 5em;
}

.container__service .service__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 50em;
  margin: 1em;
}

.container__service .service__list > svg {
  font-size: 5em;
  margin-bottom: 0.5em;
}

.container__service .service__list > h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

/* Responsive Device */

@media screen and (max-width: 1150px) {
  .service__title {
    width: 25em;
  }
  .service__title > h1 {
    font-size: 2em;
  }

  .container__service {
    display: flex;
    flex-direction: column;
  }
  .container__service .service__list {
    width: 100%;
  }

  .container__service .service__list > svg {
    font-size: 3em;
  }
  .container__service .service__list > h2 {
    font-size: 1.5em;
  }
  .container__service .service__list > p {
    font-size: 1em;
  }
  
}